<div class="container width1000">

<h2 class="center">Cropped images</h2>

<h4 class="center"><a href="/#/">Home</a>  |  <a href="/#/upload">Upload pictures</a></h4>

<div>
	<div class="each-img1"> 
		<h3>755px * 450px Horizontal</h3>
		<img src="{{photo.urls[0]}}">
	</div>
	<div class="each-img1"> 
		<h3>365px * 450px Vertical</h3>
		<img src="{{photo.urls[1]}}">
	</div>
	<div class="each-img1"> 
		<h3>365px * 212px Horizontal Small</h3>
		<img src="{{photo.urls[2]}}">
	</div>
	<div class="each-img1"> 
		<h3>380px * 380px Gallery </h3>
		<img src="{{photo.urls[3]}}">
	</div>

</div>

</div>